<h1>编辑你的个人主页</h1>
<%= render :partial => "head" %>

<div id="profile">
<%= form_for(@profile,:url => profile_path, :html => {:class => "well form-horizontal"}, :method => :post) do |f| %>
	  <% if @profile.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this post from being saved:</h2>
	
	      <ul>
	      <% @profile.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
<%= render :partial => "avatar" %>
<p class="control-group">
        <b class="control-label">用户名</b>
    <%= f.text_field :user_name,:class => "controls"  %>
</p>

<p class="control-group">
    <b class="control-label">性别</b>
    <b class="controls" id="gender">
    <%= f.radio_button :gender ,"male",:id => "radio1" ,:checked => true %>
    <%= f.label "男" ,:for => "radio1"%>
    <%= f.radio_button :gender ,"female",:id => "radio2" %>
    <%= f.label "女" ,:for => "radio2"%>
        
    </b>
  </p>
	<p class="control-group" id="birthday">
	  <b class="control-label" >生日</b>
          <%= f.date_select :birthday,:use_short_month => true %>
        </p>
	
	<p class="control-group" id="region">
	  <b class="control-label">地域</b>
          <%= f.state_select( :state,{
	       :country => :china,
	       :countries => [:china],
               :update => 'city',:selected => @profile.state},:id => "profile_state",:name => "profile[state]").html_safe %>
             <%=  f.city_select( :city ,{ :country => :china, :state => :beijing,:selected => @profile.city},{:id => :city,:selected => @profile.city}).html_safe %>
	</p>
	
	<p class="control-group">
	    <b class="control-label">个人简介</b>
            <%= f.text_area :bio,:class=> :controls %>
	</p>


	
	  <div class="actions">
	    <%= f.submit "保存" ,:class => "btn btn-primary" ,:id=>"submit"%>
	    <%= f.submit "重置表单", :type => :reset ,:class => "btn btn-danger",:id=>"reset" %>
	  </div>
	<% end %>	
	
</div>
<%= link_to 'Back', home_path %>
