<h1>个人主页</h1>
<p>Find me in app/views/profiles/show.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <b>性别</b>
  <%= @user.gender %>
</p>
<p>
  <b>生日</b>
  <%= @user.birthday %>
</p>
<p>
  <b>姓名:</b>
  <%= @user.user_name %>
</p>
<p>
<b>简介绍</b>
<%= @user.bio %>
</p>


<p>
<b>头像：</b>
<%= @user.imag_url_path %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', home_path %>
</p>
