 
<% content_for :head do %>
<!-- 	<%= javascript_include_tag "lightbox" %> -->
<!-- 	<%= stylesheet_link_tag "lightbox" %> -->

	<%= javascript_include_tag "picture" %>
	 
<% end %>
 
 
<%= link_to "上传图片", "#" , :class => "btn btn-primary upload_btn" %>
<a id="123">123</a>
<div id="left">
  <%  @pictures.each do |p| %>
  		<div class="pin">
                  <%= link_to	image_tag(p.image.url(:cover),:no => p.id).html_safe,"#"%>
			<div class="tools">
                          <span class="views">333</span>
                          <span class="cmnt"><a href="#"><%= p.comments.count %></a></span>
                          <%- if current_user.likes? p -%>
                          <span class="fav"><%= like_link_for p %></span>
                          <%- else -%>
                          <span class="fav"><%= unlike_link_for p %></span>
                          <%- end -%>
                            喜欢数： <%= p.like_count  %>
			</div>
	</div>
    
  <% end %>
 
</div>

<div id="right">  </div>



<!-- cmnt and fav -->
<script>
	$(function(){
		$(".tools .cmnt,.tools .fav").hover(function(){
			$(this).toggleClass("selected");
		})
	})
</script>



