<% content_for :head do %>
<!-- 	<%= javascript_include_tag "lightbox" %> -->
<!-- 	<%= stylesheet_link_tag "lightbox" %> -->
	<%= javascript_include_tag "mylightbox" %>
	<%= stylesheet_link_tag "mylightbox" %>
<% end %>
<div id="left">
	<div class="pin" rel="lightbox" >
			<a href="#" id="123">123</a>
			<%= link_to	"<img src='/assets/38.jpg'></a>".html_safe,asset_path("37.jpg"),:rel => "lightbox" %>
			<div class="tools">
				<span class="views">views</span>
				<span class="cmnt"><a href="#">cmnt</a></span>
				<span class="fav"><a href="#">fav</a></span>
			</div>
	</div>
	<div class="pin">
		<img src="/assets/38.jpg">
		<div class="tools">
			<span class="views">views</span>
			<span class="cmnt"><a href="#">cmnt</a></span>
			<span class="fav"><a href="#">fav</a></span>
		</div>
	</div>
	<div class="pin">
		<img src="/assets/38.jpg">
		<div class="tools">
			<span class="views">views</span>
			<span class="cmnt"><a href="#">cmnt</a></span>
			<span class="fav"><a href="#">fav</a></span>
		</div>
	</div>
	<div class="pin">
		<img src="/assets/38.jpg">
		<div class="tools">
			<span class="views">views</span>
			<span class="cmnt"><a href="#">cmnt</a></span>
			<span class="fav"><a href="#">fav</a></span>
		</div>
	</div>
	<div class="pin">
		<img src="/assets/38.jpg">
		<div class="tools">
			<span class="views">views</span>
			<span class="cmnt"><a href="#">cmnt</a></span>
			<span class="fav"><a href="#">fav</a></span>
		</div>
	</div>
	<div class="pin">
		<img src="/assets/38.jpg">
		<div class="tools">
			<span class="views">views</span>
			<span class="cmnt"><a href="#">cmnt</a></span>
			<span class="fav"><a href="#">fav</a></span>
		</div>
	</div>
	<div class="pin">
		<img src="/assets/38.jpg">
		<div class="tools">
			<span class="views">views</span>
			<span class="cmnt"><a href="#">cmnt</a></span>
			<span class="fav"><a href="#">fav</a></span>
		</div>
	</div>
	<div class="pin">
		<img src="/assets/38.jpg">
		<div class="tools">
			<span class="views">views</span>
			<span class="cmnt"><a href="#">cmnt</a></span>
			<span class="fav"><a href="#">fav</a></span>
		</div>
	</div>
</div>
<div id="right"></div>

<script>
	$(function(){
	//resize
		$(window).resize(function(){
			left_and_right();
		})
			left_and_right();
		
	
	})


//function	
left_and_right = function(){
			var left_left = ($("#containner").width() - 945) / 2;
			var left_right = left_left + 195 ;
			var right_right = left_left;
			if(left_left > 200){
				left_left = 200;
				left_right = 395;
				right_right = 200;
			}
			$("#left").css({"left":left_left,"right":left_right});
			$("#right").css("right",right_right);
}


</script>
