<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <title><%= yield(:page_title).empty? ? "雪花街" : yield(:page_title)  %></title>
  <%= favicon_link_tag "favicon.ico" %>
  <%=yield :head%>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="bodyWrapper">
     <div id="nav" class="navbar navbar-fixed-top">
     	<div class="navbar-inner">
   			 <div class="container">
   			 	 	<div id="brand"><a href="#"><img src="/assets/logo.jpg"/></a> </div>
			    	
			        <div id="top-account">
			        	<ul class="nav">
                                          <% if current_user %>
			        		<li><%=user_name_link(current_user).html_safe %></li>
			        		<li><%=link_to "个人主页", user_path(current_user) %></li>
			        		<li><a href="#">通知</a></li>
			        		<li> <a href="#">私信</a></li>        	
                                          <% end %>
			        	</ul>
			        	
			        <form class="navbar-search pull-right">
  						<input type="text" class="search-query" placeholder="搜索">
					</form>
					
			        </div>
			     </div>
   			 </div>
   		</div>
  </div>

     <div id="containner">
         <% flash.each do |name, msg| %>
          <div id="flash">
           <div class="<%= name %>">
             <%= msg %>
           </div>
          </div>
         <% end %>
        <%= yield %>
     </div>
     <div id="footer">
     	<ul>
     		<li><a href="#">关于</a></li>
     		<li><a href="#">游戏</a></li>
     		<li><a href="#">手机</a></li>
     		<li><a href="#">客服帮忙</a></li>
     		<li><a href="#">隐私</a></li>
     	</ul>   
       人人网©2012
北京千橡网景科技发展有限公司：文网文[2009]169号·京ICP证090254号·京公网安备110000000009号·甲测资字11002066·文化部监督电子邮箱：wlwh@vip.sina.com
     </div>
  </div>
</body>
</html>
