<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <title><%= yield(:page_title).empty? ? "雪花街" : yield(:page_title)  %></title>
  <%= favicon_link_tag "favicon.ico" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="bodyWrapper">
     <div id="nav">
       <div id="brand"><a><img src=""/></a> </div>
        <div id="">
          <%= yield :navigation %>
        </div> 
        <div id="search">
          <input type="text" name="" value="search" id=""/>
        </div>
     </div>
     <div id="containner">
       <div id="flash">
         <% flash.each do |name, msg| %>
           <div class="<%= name %>">
             <%= msg %>
           </div>
         <% end %>
       </div>
        <%= yield %>
     </div>
     <div id="footer">
       
     </div>
  </div>
</body>
</html>
