<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <title><%= yield(:page_title).empty? ? "雪花街" : yield(:page_title)  %></title>
  <%= favicon_link_tag "favicon.ico" %>
	<%=yield :head%>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="bodyWrapper">
     <div id="nav">
       <div id="brand"><a><img src=""/></a> </div>
        <div id="">
          <%= yield :navigation %>
        </div> 
        <div id="search">
          <input type="text" name="" value="search" id=""/>
        </div>
     </div>
     <div id="containner">
       <div id="flash">
         <% flash.each do |name, msg| %>
           <div class="<%= name %>">
             <%= msg %>
           </div>
         <% end %>
       </div>
        <%= yield %>
     </div>
     <div id="footer">
     	<ul>
     		<li><a href="#">关于</a></li>
     		<li><a href="#">游戏</a></li>
     		<li><a href="#">手机</a></li>
     		<li><a href="#">客服帮忙</a></li>
     		<li><a href="#">隐私</a></li>
     	</ul>   
     	
       人人网©2012
北京千橡网景科技发展有限公司：文网文[2009]169号·京ICP证090254号·京公网安备110000000009号·甲测资字11002066·文化部监督电子邮箱：wlwh@vip.sina.com
     </div>
  </div>
</body>
</html>
